body
{
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

.webgl
{
    position: fixed;
    outline: none;
    top: 0;
    left: 0;
}
footer
{   
    width: 100%;
    padding: 15px 0;
    text-align: center;
    text-transform: uppercase;
    color: white;
    background: rgb(80, 80, 80);
    position: absolute; 
    bottom: 0px;
}
